<div class="left item">
	<div>
		<a href="##ITEM_URL##">
			<img src="##ITEM_IMG_URL##" />
		</a>
	</div>
	<div class="##ITEM_TITLE_CLASS##" style="float: left;">
		<a href="##ITEM_URL##">##ITEM_TITLE##</a>
	</div>
	<div class="##ITEM_CLASS_GREY##">##ITEM_GREY_TEXT##</div>
	<div class="clear"></div>
</div>