<div style="position: relative; text-align: center;">
	<div style="position: absolute; background-color: #fff; bottom: 0; right: 0;">##IMG_DATE##</div>
	<div style="position: absolute; background-color: #fff; left: 0; top: 0; padding: 2px 5px;"><a href="##PREV_URL##">PREV</a></div>
	<a href="##NEXT_URL##">
		<img src="##IMG_URL##"/>
	</a>
</div>